<div id="post-<%= @post.id %>">
    <%= cl_image_tag @post.photo, height: 350, width: 400, crop: :fill %>
    <%= @post.message %>
    <div id="edit-post-form-<%= @post.id %>">
    <%= link_to "Edit", edit_post_path(@post), remote: true %>
    </div>
    <div id="delete-post-<%= @post.id %>">
    <%= link_to "Delete", @post, method: :delete, remote: true %>
    </div>
</div>
